{% load static %}

{% block title %}{% endblock %}

{% block style %}
    <style>
        header {
            background-image:url('/static/img/background.jpg');
            height:140px;
            width: 100%
        }

        .hover figure img {
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out
        }

        .hover figure:hover img {
            opacity: .6
        }

        #logo {
            width: 515px;
            height:115px;
            float:left;
            margin-top:15px
        }

        .gamestart {
            list-style:none;
            position:absolute;
            left:44%;
            margin-top: 10px
        }

        .gamestart img {
            width:250px;
            height: 120px;
            border-radius: 50px
        }

        #qm1, #qm2 {
            position: absolute;
            display:flex;
            left: 84%;
            margin-top: 15px;
            height:47px
        }

        #qm img {
            height:45px;
            position:absolute
        }

        #qmenu1 img {
            margin-top:-1px
        }

        #qmenu2 {
            margin-left: 150px
        }

        #qmenu3 img {
            margin-top:-0.5px
        }

        #qmenu4 {
            margin-left: 24px
        }

        nav {
            width:100%;
            position:relative;
            background-image: url('/static/img/navbg.png');
            height:120px
        }

        nav div {
            position:relative;
            margin-left: 3.5%;
            display:flex;
            margin-top: 8px;
            margin-bottom: 8px
        }

        nav img {
            height: 75px;
            position:relative
        }

        #mmenu2 {
            left : 23%
        }

        #mmenu3 {
            left : 43%;
            bottom:2px
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'pay.html' %}
{% endblock %}

{% block jscript %}
    <script>
        window.addEventListener("load", () => {
            alert('금액이 부족합니다!')
            location.href = '/pay';
        });
    </script>
{% endblock %}