{% extends 'project.html' %}
{% block title %}개임소개{% endblock %}
{% block style %}
    <style>
        #wrapper { display:flex;}
        #wrapper a {font-size: 23px; font-weight: bold; text-decoration: none;
        color: white;  }
        #wrapper a:hover{color:orangered}
        header {background-image:url('/static/img/background.jpg'); height:140px; width: 100%  }


        a:link {color: black; text-decoration:none}
        a:visited{color: black; text-decoration:underline}
        a:hover {color: orangered; text-decoration:none}
        a:active {color: orangered; text-decoration:none }

        #logo {width: 515px; height:115px; float:left; margin-top:15px }
        #gamestart {list-style:none; position:absolute; left:43%; margin-top: 10px; }
        #gamestart img { width:250px; height: 120px;   }
        #qmenu { position: absolute; word-spacing:35px; display:flex; left:82%; margin-top: 15px}

        nav { clear: both; width:100%; position:relative; background: silver; padding: 5px 15px; }

        nav ul { word-spacing: 500px; font-weight:bold; }
        nav li { list-style: none; position:relative; left:20%; margin-top:10px; }
        nav a{ font-size:45px}

        video { max-width: 100%; display: block; }

        #infonav {
            position: relative; margin-bottom:30px;
            display: flex; list-style: none;
            padding:15px;
            font-size: 20px;
            background: #868080;
        }
        #infonav li{
            margin-left: 15px;
            margin-right:15px; padding:15px;
            font-size: 25px; font-weight: bold;
        }
        #info{
            margin-left: 25px;
        }
        #infonav a{
            text-decoration: none;
            color:black;
        }
        {##infonav a:visited{color: black}#}
        #infonav a:hover{color: orangered}

        p{
            font-size: 25px;
            line-height: 40px;
        }
        #remote{
            border: 1px solid black;
            width: 200px;
            position: sticky; z-index: 1;
            left:2500px; bottom:360px;
            font-size: large; line-height: 30px;
            background: #adb5bd;
            text-align: center;
        }
        #remote li{
            list-style: none;
            margin-left: -30px;
        }
        #remote a{
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color:black;
        }
        {##remote a:visited{color: black}#}
        #remote a:hover{color:orangered}
    </style>
{% endblock %}
{% block content %}
<ul id="infonav">
    <li><a href="/game_info">게임설명</a></li>
    <li><a href="/how_to_fight">전투방법</a></li>
</ul>
<div id="info">
    <div id="stat">
        <h2>스탯설명</h2>
        <p>
        통솔 : 플레이어의 통솔 수치가 적장의 통솔보다 낮을 경우 10장을 제외합니다<br>
        무력 : 플레이어의 전술 스킬에 영향을 줍니다. 또한 적장의 무력보다 낮을 경우 플레이어는 전술 스킬을 사용할 수 없습니다.<br>
        지력 : 플레이어의 전술 스킬에 영향을 줍니다. 또한 적장의 지력보다 낮을 경우 플레이어는 전술 스킬을 사용할 수 없습니다.<br>
        정치 : 게임 스토리 진행에 영향을 줍니다.<br>
        </p>
    </div>
        <hr>
    <div id="trait1">
        <h2>내정특기설명</h2>
        <p>
        상재 : 금 수입 1.5배<br>
        경작 : 병량 수입 1.5배<br>
        연병 : 모병량 1.5배<br>
        수집 : 아이템 제작 및 수집시 능력치+10<br>
        인맥 : 부장수 최대+10<br>
        변설 : 대실패 제거<br>
        </p>
    </div>
        <hr>
    <div id="trait2">
        <h2>전투특기설명</h2>
        <p>
        호걸 : 절대 전투에서 죽지 않습니다.<br>
        귀모 : 적의 전술 스킬을 무효화합니다.<br>
        군사 : 반대 상성 병종도 두배의 피해를 입힐 수 있습니다.<br>
        냉정 : 반대 상성 병종에게 피해를 1배로 받습니다.
        </p>
    </div>
        <hr>
    <div id="skill">
        <h2>전술계 스킬 설명</h2>
        <p>
        공격강화 : 플레이어의 턴마다 공격카드의 공격력이 +1됩니다.(5번까지 중첩 가능)<br>
        방어강화 : 플레이어의 턴마다 방어카드의 방어력이 +1됩니다.(5번까지 중첩 가능)<br>
        색적 : 플레이어가 무조건 선공이 됩니다.<br>
        속공 : 모든 전투카드들의 공격력과 방어력이 -50%가 됩니다. 두 번 행동할 수 있습니다.<br>
        복병 : 마법카드를 서치할 수 있습니다. 덱에 마법카드가 없다면 할 수 없습니다.<br>
        복병신속 : 복병의 효과와 공격강화의 효과를 얻습니다. 플레이어의 턴마다 10d를 돌려 6이 나오면 스킵합니다.<br>
        노당익장 : 공격카드의 공격력이 +2, 방어카드의 방어력은 -1이 됩니다.<br>
        맹공 : 공격카드의 공격력이 +3, 방어카드의 방어력은 -5가 됩니다.<br>
        공방일체 : 플레이어의 턴마다 공격카드의 공격력이 +1, 방어카드의 방어력이+1이 됩니다.(5번까지 중첩 가능)<br>
        강용 : 방어카드의 방어력이 +2가 됩니다.<br>
        철벽 : 방어카드의 방어력이 +3, 공격카드의 공격력이 -2가 됩니다.<br>
        강습 : 전병과에 2배 피해를 줄 수 있습니다. 플레이어의 턴마다 10d를 돌려 6이 나오면 스킵합니다.<br>
        만인적 : 플레이어의 무력이 +10, 통솔이 +10이 됩니다. 체력 최대치는 50이 됩니다.(부장 효과는 똑같이 적용)<br>
        운체풍신 : 플레이어의 턴마다 공격카드의 공격력 +1, 방어카드의 방어력 +1이 됩니다. (3번까지 중첩가능)<br>
        통솔+5, 지력+5가 됩니다.<br>
        위무지강 : j,k,q를 서치 후, 세팅을 하고 시작합니다. 플레이어 덱에 하나라도 없으면 스킬시전이 불가합니다.<br>
        방호 : 방어카드의 방어력이 +10이 됩니다. 공격카드의 공격력은 -5가 됩니다.<br>
        의용병 : 자신의 덱을 50% 제외 시킴으로서, 플레이어 자신의 묘지카드 순서를 마음대로 바꿀 수 있습니다.<br>
        팔진도 : 필드에 카드 드로우를 두 장 씩 전개가 가능합니다. 두 장씩 드로우 할 때 마다 체력을 20 소모합니다.<br>
        용의지혜 : 체력을 99 소모합니다. 적군의 모든 필드를 클리어 합니다. 스페이드 a는 영향을 받지 않습니다.<br>
        대타격 : 100d1 주사위를 굴려 플레이어의 무력계수 이하 만큼의 주사위 수만큼 피해를 입힙니다.<br>
        (본인 무력 계수 초과 주사위가 나오면 실패)<br>
        화계 : 100d1 주사위를 굴려 플레이어의 지력계수 이하 만큼의 주사위 수 만큼 피해를 입힙니다.<br>
        (본인 지력 계수 초과 주사위가 나오면 실패)<br>
        신화계 : 적에게 매 턴마다 15의 피해를 입힙니다.<br>
        인중여포 : 100d1 주사위를 굴려 본인의 무력계수 이하 만큼의 주사위 수 만큼 피해를 입힙니다.<br>
        모든 필드 카드를 다 제외시킵니다. 2턴 당 한 번 행동이 가능합니다.
        </p>
    </div>
        <hr>
    <div id="army">
        <h2>병종 상성</h2>
        <p>창병>기병>궁병>창병</p>
    </div>
        <hr>
    <div id="politics">
        <h2>내정관련</h2>
        <p>
        1. 금100 = 병량5000과 교환 가능<br>
        2. 부장 한 명당 추가 병력은 1000명 = 추가 체력10<br>
        3. 수집(수집 특기가 없을 경우 수집 행동을 할 수 없습니다.)<br>
        3-1. 수집 아이템<br>
        아이템은 무기, 갑옷, 말, 책서, 장신구 총 5가지 획득 가능합니다.<br>
        능력치는 통솔, 무력, 지력, 정치 중 하나를 고를 수 있습니다.<br>
        4. 병력 1000 = 플레이어 체력 10 최대체력 이상의 병력을 모집할 수 없습니다.<br>
        5. 제작 : 아이템 제작 시도시 금을 200 소모합니다. (10d1 주사위를 굴려 스텟을 정합니다.)<br>
        6. 아이템 교체시 금을 200소모합니다. 능력치가 동일한 아이템만 교체가 가능합니다.<br>
        </p>
    </div>
        <hr>
    <div id="gameover">
        <h2>게임오버</h2>
        <p>
        1. 국가병력이 0이 된 후, 다음 전투 패배 시 플레이어 게임 오버<br>
        2. 금, 병량이 모두 0이 되면 게임 오버<br>
        3. 플레이어에게 병력, 병량이 없으면 게임오버<br>
        <br>
        </p>
    </div>
</div>
<div id="remote">
<ul>
    <li><a href="#stat">스탯 설명</a></li>
    <li><a href="#trait1">내정 특기 설명</a></li>
    <li><a href="#trait2">전투 특기 설명</a></li>
    <li><a href="#skill">전술계 스킬 설명</a></li>
    <li><a href="#army">병종 상성</a></li>
    <li><a href="#politics">내정 관련</a></li>
    <li><a href="#gameover">게임 오버</a></li>
</ul>
</div>
{% endblock %}