{% extends 'project.html' %}
{% block title %}회원가입{% endblock %}


{% block style %}
    <style>
        header {
            background-image:url('/static/img/background.jpg');
            height:140px;
            width: 100%
        }

        .hover figure img {
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out
        }

        .hover figure:hover img {
            opacity: .6
        }

        #logo {
            width: 515px;
            height:115px;
            float:left;
            margin-top:15px
        }

        .gamestart {
            list-style:none;
            position:absolute;
            left:44%;
            margin-top: 10px
        }

        .gamestart img {
            width:250px;
            height: 120px;
            border-radius: 50px
        }

        #qm1, #qm2 {
            position: absolute;
            display:flex;
            left: 84%;
            margin-top: 15px;
            height:47px
        }

        #qm img {
            height:45px;
            position:absolute
        }

        #qmenu1 img {
            margin-top:-1px
        }

        #qmenu2 {
            margin-left: 150px
        }

        #qmenu3 img {
            margin-top:-0.5px
        }

        #qmenu4 {
            margin-left: 24px
        }

        nav {
            width:100%;
            position:relative;
            background-image: url('/static/img/navbg.png');
            height:120px
        }

        nav div {
            position:relative;
            margin-left: 3.5%;
            display:flex;
            margin-top: 8px;
            margin-bottom: 8px
        }

        nav img {
            height: 75px;
            position:relative
        }

        #mmenu2 {
            left : 23%
        }

        #mmenu3 {
            left : 43%;
            bottom:2px
        }

        .body img {
            position:absolute;
            width:100%;
            height: 855px
        }

        .container {
            position: relative;
            transform: translate(-160%,8%);
            width: 20%;
            margin: auto;
            background-color: rgba(60, 60, 60, 10);
            color: white;
            padding: 30px;
            box-shadow: 0 0 0 1px;
            border-radius: 10px;
            box-sizing: border-box
        }

        input, button{
            width: 100%;
            padding: 10px 12px;
            margin: 8px 0px;
            display: inline-block;
            box-sizing: border-box;
            color: white;
            background-color: transparent;
            border: 2px solid white;
            text-decoration:none
        }

        .error {
            position:relative;
            left:10px;
            color:red;
            font-weight: bold
        }
    </style>
{% endblock %}

{% block content %}
{% if request.session.userid %}
    <script>location.href='/';</script>
{% endif %}
    <div class="body">
    <img src="/static/img/joinbg.jpg" alt="bg">

        <div class="container">
            <form name="joinfrm" method="post" id="joinfrm">
                {# django built-in template filter #}

                {% csrf_token %} {# 동일 출처origin 확인용 쿠키 생성 #}
                <div><label for="userid">아이디</label>
                <input type="text" name="userid" id="userid" value="{{ form.userid }}">
                <div class="error">{{ error1 }}</div>
                <div class="error">{{ duplicate }}</div>
                </div>


                <div><label for="passwd">비밀번호</label>
                <input type="password" name="passwd" id="passwd" value="{{ form.passwd }}">
                <div class="error">{{ error2 }}</div>
                </div>

                <div><label for="repasswd">비밀번호 확인</label>
                <input type="password" name="repasswd" id="repasswd" ></div>
                <div class="error">{{ error5 }}</div>

                <div><label for="name">이름</label>
                <input type="text" name="name" id="name" value="{{ form.name }}"></div>
                <div class="error">{{ error3 }}</div>

                <div><label for="jumin">주민번호</label>
                <input type="text" name="jumin" id="jumin" maxlength="13"
                       placeholder="'-'를 제외하고 입력하세요" value="{{ form.jumin }}"></div>
                <div class="error">{{ error6 }}</div>
                <div class="error">{{ error8 }}</div>

                <div><label for="phone">전화번호</label>
                <input type="text" name="phone" id="phone" maxlength="11"
                       placeholder="'-'를 제외하고 입력하세요" value="{{ form.phone }}"></div>
                <div class="error">{{ error7 }}</div>
                <div class="error">{{ error9 }}</div>

                <div><label for="email">이메일</label>
                <input type="email" name="email" id="email" value="{{ form.email }}"></div>
                <div class="error">{{ error4 }}</div>

                <div><!--<label></label>-->
                 <button type="submit" id="joinfrm" class="btn btn-primary">입력완료</button>
                 <button type="reset" class="btn btn-danger">다시입력</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block jscript %}
{% endblock %}

