{% extends 'project.html' %}
{% block title %}member/join{% endblock %}

{% block style %}
    <style>
        #wrapper { display:flex;}
        #wrapper a {font-weight: bold; text-decoration: none;
        color: white; font-size: 20px; }
        #wrapper a:hover{color:orangered}
        header {background-image:url('/static/img/background.jpg'); height:140px }


        a:link {color: black; text-decoration:none}
        a:visited{color: black; text-decoration:underline}
        a:hover {color: orangered; text-decoration:none}
        a:active {color: orangered; text-decoration:none }

        #logo {width: 500px; height:100px; float:left; margin-top:20px }
        #gamestart { list-style:none; margin-left:330px; }
        #gamestart img { width:200px; height: 100px;   }
        #qmenu { word-spacing:20px; display:flex; float:right; margin-left:590px}

        nav { width: 100%; background: silver; padding: 5px 15px; clear: both; display:inline-block}

        nav ul { word-spacing:500px;  font-weight:bold; text-align: center; list-style: none; font-size: 25px; padding:3px;
                margin-right:50px; }
        nav li {  display: flex; align-items: center; flex-wrap: wrap; text-align: center}
        nav a{ font-size:45px}

        form { width: 350px; margin: 150px auto}

        form div { margin-top: 10px }

        form label { display:inline-block; width: 120px; text-align: right; font-weight:bold}

        form button:first-child { margin-left: 125px }

        h2 {margin-left: 55px}

        .error{position:relative; left:150px; color:red; font-weight: bold}
    </style>
{% endblock %}

{% block content %}
{% if request.session.userid %}
    <script>location.href='/';</script>
{% endif %}

<h2>회원가입</h2>
<form name="joinfrm" method="post" id="joinfrm">
    {# django built-in template filter #}
    <div style="color: red">{{ error|addslashes }}</div>

    {% csrf_token %} {# 동일 출처origin 확인용 쿠키 생성 #}
    <div>
        <h3>회원가입 완료!</h3>
    </div>
</form>
{% endblock %}

{% block jscript %}

{% endblock %}

