{% extends 'project.html' %}

{% block title %}login{% endblock %}

{% block style %}
<style>
        #wrapper { display:flex;}
        #wrapper a {font-weight: bold; text-decoration: none;
        color: white; font-size: 20px; }
        #wrapper a:hover{color:orangered}
        header {background-image:url('/static/img/background.jpg'); height:140px }


        a:link {color: black; text-decoration:none}
        a:visited{color: black; text-decoration:underline}
        a:hover {color: orangered; text-decoration:none}
        a:active {color: orangered; text-decoration:none }

        #logo {width: 500px; height:100px; float:left; margin-top:20px }
        #gamestart { list-style:none; margin-left:330px; }
        #gamestart img { width:200px; height: 100px;   }
        #qmenu { word-spacing:20px; display:flex; float:right; margin-left:590px}

        nav { width: 100%; background: silver; padding: 5px 15px; clear: both; display:inline-block}

        nav ul { word-spacing:500px;  font-weight:bold; text-align: center; list-style: none; font-size: 25px; padding:3px;
                margin-right:50px; }
        nav li {  display: flex; align-items: center; flex-wrap: wrap; text-align: center}
        nav a{ font-size:45px}

        /* 로그인 폼 배치하기 */
        form { /*border: 1px solid red;*/ width: 350px;
            margin: 150px auto }

        form div { margin-top: 10px; }

        form label { display: inline-block;
            width: 120px; text-align: right;
            font-weight: bold }
        h2 {margin-left: 55px}

</style>
{% endblock %}

{% block content %}
    <h2>로그인</h2>
    <form name="loginfrm" method="post" id="loginfrm">
        {% csrf_token %}
        <div style="color: red">{{ error }}</div>
        <div><label for="userid">아이디</label>
            <input type="text" name="userid" id="userid">
        </div>

        <div><label for="passwd">비밀번호</label>
            <input type="password" name="passwd" id="passwd"></div>

        <div><label></label>
            <button type="button" id="loginbtn">로그인</button>
        </div>
    </form>
{% endblock %}
{% block jscript %}
<script>
        const loginbtn = document.querySelector('#loginbtn');
        loginbtn.addEventListener('click', () => {
            const userid = document.loginfrm.userid;
            const passwd = document.loginfrm.passwd;

        if (userid.value == "") {
            alert('아이디를 입력하세요!'); userid.focus();
            return;
        } else if (passwd.value == '') {
            alert('비밀번호를 입력하세요!'); passwd.focus();
            return;
        } else {
            // 버튼으로 submit 기능을 수행함
            // document.폼이름 submit()
            document.loginfrm.submit();
        }
    });
</script>
{% endblock %}