{% extends 'project.html' %}

{% block title %}login{% endblock %}



{% block style %}
<style>
        #wrapper { display:flex;}
        #wrapper a {font-size: 23px; font-weight: bold; text-decoration: none;
        color: white;  }
        #wrapper a:hover{color:orangered}
        header {background-image:url('/static/img/background.jpg'); height:140px; width: 100%  }


        {#a:link {color: black; text-decoration:none}#}
        {#a:visited{color: black; text-decoration:underline}#}
        {#a:hover {color: orangered; text-decoration:none}#}
        {#a:active {color: orangered; text-decoration:none }#}

        #logo {width: 515px; height:115px; float:left; margin-top:15px }
        #gamestart { list-style:none; margin-left:300px; margin-top: 10px}
        #gamestart img { width:250px; height: 120px;   }
        #qmenu { word-spacing:35px; display:flex; float:right; margin-left:530px; margin-top: 15px}

        nav { width:100%; background: silver; padding: 5px 15px; clear: both; display:inline-block}

        nav ul { word-spacing:500px;  font-weight:bold; text-align: center; list-style: none; font-size: 25px; padding:3px;
                margin-right:60px; margin-top: 10px }
        nav li { display: flex; align-items: center; flex-wrap: wrap; text-align: center}
        nav a{ font-size:45px; color: black; text-decoration:none; }
        nav a:hover { color: orangered; text-decoration:none }

body{
	background-image: url(../static/img/bg.jpg);
	background-repeat: no-repeat;;
    background-position:center;
	background-size: 100%;
}
.container{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 20%;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
	padding: 30px;
	box-shadow: 0px 2px 8px 2px #555;
	border-radius: 6px;
	box-sizing: border-box;
}
.container h2{
	padding: 10px 15px;
	letter-spacing: 1px;
}
.form-container{
	padding: 20px;
}
.form-container label{

}
input[type=text], input[type=password], button{
	width: 100%;
	padding: 10px 12px;
	margin: 8px 0px;
	display: inline-block;
	box-sizing: border-box;
    color: white;
	background-color: transparent;
	border: 1px solid white;
    text-decoration:none

}
input[type=text]:focus, input[type=password]:focus{
	outline: none;
}
button a{
	padding: 10px 20px;
	cursor: pointer;
	font-size: 15px;
	letter-spacing: 1px;
    color: white;
    text-decoration:none
}
button a:hover, button:hover{
    color: orangered;
}


</style>
{% endblock %}

{% block content %}
    <div class="container">
    <form name="loginfrm" method="post" id="loginfrm">
        {% csrf_token %}
        <div style="color: red">{{ error }}</div>
        <div><label for="userid"><b>아이디</b></label>
            <input type="text" name="userid" id="userid" placeholder="아이디를 입력하세요" required>
        </div>

        <div><label for="passwd"><b>비밀번호</b></label>
        <input type="password" name='passwd' id='passwd' placeholder="비밀번호를 입력하세요" required></div>

        <div>
            <button type="submit" id="loginbtn" ><b>로그인</b></button>
            <button type="button" id="joinbtn" class="joinbtn" ><a href="/join"><b>회원가입</b></a></button>
        </div>

    </form>
    </div>
{% endblock %}
{% block jscript %}
<script>
        const loginbtn = document.querySelector('#loginbtn');
        loginbtn.addEventListener('click', () => {
            const userid = document.loginfrm.userid;
            const passwd = document.loginfrm.passwd;

        if (userid.value == "") {
            alert('아이디를 입력하세요!'); userid.focus();
            return;
        } else if (passwd.value == '') {
            alert('비밀번호를 입력하세요!'); passwd.focus();
            return;
        } else {
            // 버튼으로 submit 기능을 수행함
            // document.폼이름 submit()
            document.loginfrm.submit();
        }
    });
</script>
{% endblock %}