{% extends 'project.html' %}

{% block title %}login{% endblock %}



{% block style %}
<style>
        header {
            background-image:url('/static/img/background.jpg');
            height:140px;
            width: 100%
        }

        .hover figure img {
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out
        }

        .hover figure:hover img {
            opacity: .6
        }

        #logo {
            width: 515px;
            height:115px;
            float:left;
            margin-top:15px
        }

        .gamestart {
            list-style:none;
            position:absolute;
            left:44%;
            margin-top: 10px
        }

        .gamestart img {
            width:250px;
            height: 120px;
            border-radius: 50px
        }

        #qm1, #qm2 {
            position: absolute;
            display:flex;
            left: 84%;
            margin-top: 15px;
            height:47px
        }

        #qm img {
            height:45px;
            position:absolute
        }

        #qmenu1 img {
            margin-top:-1px
        }

        #qmenu2 {
            margin-left: 150px
        }

        #qmenu3 img {
            margin-top:-0.5px
        }

        #qmenu4 {
            margin-left: 24px
        }

        nav {
            width:100%;
            position:relative;
            background-image: url('/static/img/navbg.png');
            height:120px
        }

        nav div {
            position:relative;
            margin-left: 3.5%;
            display:flex;
            margin-top: 8px;
            margin-bottom: 8px
        }

        nav img {
            height: 75px;
            position:relative
        }

        #mmenu2 {
            left : 23%
        }

        #mmenu3 {
            left : 43%;
            bottom:2px
        }

    .container {
        position: relative;
        transform: translate(0,20%);
        width: 20%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        padding: 30px;
        box-shadow: 0 2px 8px 2px #555;
        border-radius: 10px;
        box-sizing: border-box
    }

    .body img {
        position:absolute;
        width:100%;
        height: 855px
    }

    input[type=text], input[type=password], button {
        width: 100%;
        padding: 10px 12px;
        margin: 8px 0;
        display: inline-block;
        box-sizing: border-box;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        text-decoration:none
    }

    input[type=text]:focus, input[type=password]:focus{
        outline: none
    }
    button a{
        padding: 10px 20px;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 1px;
        color: white;
        text-decoration:none
    }
    button a:hover, button:hover{
        color: orangered
    }


</style>
{% endblock %}

{% block content %}

    <div class="body">
    <img src="/static/img/bg.jpg" alt="bg">
        <div class="container">
        <form name="loginfrm" method="post" id="loginfrm">
            {% csrf_token %}
            <div style="color: red">{{ error }}</div>
            <div><label for="userid"><b>아이디</b></label>
                <input type="text" name="userid" id="userid" placeholder="아이디를 입력하세요" required>
            </div>

            <div><label for="passwd"><b>비밀번호</b></label>
            <input type="password" name='passwd' id='passwd' placeholder="비밀번호를 입력하세요" required></div>

            <div>
                <button type="submit" id="loginbtn" ><b>로그인</b></button>
                <button type="button" id="joinbtn" class="joinbtn" ><a href="/join"><b>회원가입</b></a></button>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
{% block jscript %}
<script>
        const loginbtn = document.querySelector('#loginbtn');
        loginbtn.addEventListener('click', () => {
            const userid = document.loginfrm.userid;
            const passwd = document.loginfrm.passwd;

        if (userid.value == "") {
            alert('아이디를 입력하세요!'); userid.focus();
            return;
        } else if (passwd.value == '') {
            alert('비밀번호를 입력하세요!'); passwd.focus();
            return;
        } else {
            // 버튼으로 submit 기능을 수행함
            // document.폼이름 submit()
            document.loginfrm.submit();
        }
    });
</script>
{% endblock %}