<!-- payModal -->
<div class="modal fade" id="payModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="payModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payModalLabel">구매</h5>
          <input type="text" id="chrname" name="chrname">
          <input type="text" id="price" name="price">
      </div>
      <div class="modal-body">
        <h5 id="payq" class="fw-bold"></h5>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" id="payok">구매하기</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>


<!-- rechargeModal -->
<div class="modal fade" id="rechargeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="rechargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rechargeModalLabel"><img src="/static/img/danal.png" width="80px" height="30px"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="{% url 'pay' %}" name="recfrm" id="recfrm" method="post">
            {% csrf_token %}
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <h5>충전금액</h5>
          <h5 id="recharge"></h5>
        </div>
        <hr>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="10000">
          <label class="form-check-label" for="inlineRadio1" id="inlineRadio1lb">10,000원</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="20000">
          <label class="form-check-label" for="inlineRadio2" id="inlineRadio2lb">20,000원</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="30000">
          <label class="form-check-label" for="inlineRadio3" id="inlineRadio3lb">30,000원</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="50000">
          <label class="form-check-label" for="inlineRadio4" id="inlineRadio4lb">50,000원</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="100000">
          <label class="form-check-label" for="inlineRadio5" id="inlineRadio5lb">100,000원</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="1000000">
          <label class="form-check-label" for="inlineRadio6" id="inlineRadio6lb">1,000,000원</label>
        </div>
            <div class="d-flex justify-content-between">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="skt">
                <label class="btn btn-outline-danger col-4" for="btnradio1">SKT</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="kt">
                <label class="btn btn-outline-danger col-4 mx-1" for="btnradio2">KT</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="lg">
                <label class="btn btn-outline-danger col-4" for="btnradio3">LG</label>
            </div>

            <div class="row mt-2">
                <label for="name" class="col-form-label col-3 text-end">이름</label>
                <div class="col-6">
                    <input type="text" name="name" id="name" class="form-control border-danger"></div>
            </div>
            <div class="row mt-2">
                <label for="rrn" class="col-form-label col-3 text-end">주민번호</label>
                <div class="col-6">
                    <input type="text" name="rrn" id="rrn" class="form-control border-danger"
                           maxlength="13" placeholder="'-'를 제외하고 입력해주세요"></div>
            </div>
            <div class="row mt-2">
                <label for="phone" class="col-form-label col-3 text-end">전화번호</label>
                <div class="col-6">
                    <input type="text" name="phone" id="phone" class="form-control border-danger"
                        maxlength="11" placeholder="'-'를 제외하고 입력해주세요">
                </div>
            </div>
          <div>{{ error }}</div>
      </div>
      <div class="modal-footer">
        <button type="button" name="payokbtn" id="payokbtn" class="btn btn-danger btn-lg w-100" disabled>
          결제
        </button>
      </div>
        </form>
    </div>
  </div>
</div>
