{% extends 'project.html' %}

{% block title %}myinfo{% endblock %}

{% block style %}
<style>
        #wrapper { display:flex;}
        #wrapper a {font-size: 20px; font-weight: bold; text-decoration: none;
        color: white;  }
        #wrapper a:hover{color:orangered}
        header {background-image:url('/static/img/background.jpg'); height:140px; width: 100%  }


        a:link {color: black; text-decoration:none}
        a:visited{color: black; text-decoration:underline}
        a:hover {color: orangered; text-decoration:none}
        a:active {color: orangered; text-decoration:none }

        header img:hover {
        width: 89%;
        height: 100%;
        transform:scale(110%);
        transition: transform.3s;
         }

        #qm2 img:hover {
        width: 102%;
        height: 100%;
        transform:scale(110%);
        transition: transform.3s;
         }

        #mmenu img:hover {
        width: 89%;
        height: 100%;
        transform:scale(110%);
        transition: transform.3s;
         }

        #logo {width: 515px; height:115px; float:left; margin-top:15px }
        #gamestart {list-style:none; position:absolute; left:43%; margin-top: 10px; }
        #gamestart img { width:250px; height: 120px;   }
        #qm1 { position: absolute; display:flex; left: 84%; margin-top: 15px; height:47px;}
        #qm2 { position: absolute; display:flex; left: 84%; margin-top: 15px; height:47px;}
        #qm img { height:45px; position:absolute}
        #qmenu1 img { margin-top:-1px;}
        #qmenu2 { margin-left: 150px;}
        #qmenu3 img { margin-top:-0.5px;}
        #qmenu4 { margin-left: 24px;}

        nav{ clear: both; width:100%; position:relative;  background: silver; padding: 5px 15px; }
        nav div  { position:relative; margin-left: 3.5%; display:flex; font-weight:bold;
                list-style: none; margin-top: 8px; margin-bottom: 8px}
        nav img { height: 75px; position:relative}
        #mmenu2 { left : 23%;}
        #mmenu3 { left : 43%; bottom:2px}

    table { /*border: 1px solid red;*/
       margin: 120px auto }

    th, td { padding: 10px }

    th { text-align: right }

    h2 {margin-left: 55px}

</style>
{% endblock %}

{% block content %}
    <h2>회원정보</h2>
        <table>
            <tr><th>아이디</th><td>{{ member.userid }}</td></tr>
            <tr><th>이름</th><td>{{ member.name }}</td></tr>
            <tr><th>이메일</th><td>{{ member.email }}</td></tr>
            <tr><th>캐시</th><td>{{ member.cash }} 원</td></tr>
            <tr><th>가입일</th><td>{{ member.regdate }}</td></tr>
        </table>
{% endblock %}

{% block jscript %}{% endblock %}