{% extends 'project.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static '/css/bs5/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <style>
        #wrapper { display:flex;}
        #wrapper a {font-weight: bold; text-decoration: none;
        color: white; font-size: 20px; }
        #wrapper a:hover{color:orangered}
        header {background-image:url('/static/img/background.jpg'); height:140px; width: 100%  }


        a:link {color: black; text-decoration:none}
        a:visited{color: black; text-decoration:underline}
        a:hover {color: orangered; text-decoration:none}
        a:active {color: orangered; text-decoration:none }

        #logo {width: 500px; height:100px; float:left; margin-top:20px }
        #gamestart { list-style:none; margin-left:330px; }
        #gamestart img { width:200px; height: 100px;   }
        #qmenu { word-spacing:20px; display:flex; float:right; margin-left:590px}

        nav { width:100%; background: silver; padding: 5px 15px; clear: both; display:inline-block}

        nav ul { word-spacing:500px;  font-weight:bold; text-align: center; list-style: none; font-size: 25px; padding:3px;
                margin-right:50px; }
        nav li {  display: flex; align-items: center; flex-wrap: wrap; text-align: center}
        nav a{ font-size:45px}
    </style>
{% endblock %}

{% block content %}
    <div id="main">
        <div class="text-end">
            <button type="button" class="btn btn-danger" id="rechargebtn" data-bs-toggle="modal" data-bs-target="#rechargeModal">충전하기</button>
        </div>
        <div class="d-flex row">
            {% for b in bds %}
                <div class="card text-center d-flex" style="width: 18rem;">
                  <img src="{{ b.img }}" class="card-img-top">
                  <div class="card-body">
                    <span class="card-title h5 fw-bold" id="cname">{{ b.cname }}</span>
                    <div class="card-text">내정특기 : {{ b.innertrait }}</div>
                    <div class="card-text">전투특기 : {{ b.fighttrait }}</div>
                    <div class="card-text">전술 : {{ b.skill }}</div>
                    <button class="btn btn-danger w-100" id="paybtn" data-bs-toggle="modal" data-bs-target="#payModal">
                        <i class="bi bi-coin text-warning"></i> {{ b.price }}</button>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% include 'modal.html' %}
{% endblock %}


{% block jscript %}
    <script>
    const payok = document.querySelector('#payok');
    const payq = document.querySelector('#payq');
    const paybtn = document.querySelector('#paybtn')
    const rechargebtn = document.querySelector('#rechargebtn');

    const payokbtn = document.querySelector('#payokbtn');
    const rd1 = document.querySelector('#inlineRadio1');
    const rd1lb = document.querySelector('#inlineRadio1lb');
    const rd2 = document.querySelector('#inlineRadio2');
    const rd2lb = document.querySelector('#inlineRadio2lb');
    const rd3 = document.querySelector('#inlineRadio3');
    const rd3lb = document.querySelector('#inlineRadio3lb');
    const rd4 = document.querySelector('#inlineRadio4');
    const rd4lb = document.querySelector('#inlineRadio4lb');
    const rd5 = document.querySelector('#inlineRadio5');
    const rd5lb = document.querySelector('#inlineRadio5lb');
    const rd6 = document.querySelector('#inlineRadio6');
    const rd6lb = document.querySelector('#inlineRadio6lb');
    const recharge = document.querySelector('#recharge');
    const rechargemodal = document.querySelector('#rechargeModal');
    const paymodal = document.querySelector('#payModal');

    paybtn.addEventListener('click', () => {
        payq.innerHTML = '구매 하시겠습니까?';
    });

    payok.addEventListener('click', () => {
        bootstrap.Modal.getInstance('#payModal').hide();
        paybtn.disabled = true;
        paybtn.innerHTML = '보유중';
    });

    rd1.addEventListener('click', () => {
        recharge.innerHTML = rd1lb.outerHTML;
        payokbtn.disabled = false;
    });
    rd2.addEventListener('click', () => {
        recharge.innerHTML = rd2lb.outerHTML;
        payokbtn.disabled = false;
    });
    rd3.addEventListener('click', () => {
        recharge.innerHTML = rd3lb.outerHTML;
        payokbtn.disabled = false;
    });
    rd4.addEventListener('click', () => {
        recharge.innerHTML = rd4lb.outerHTML;
        payokbtn.disabled = false;
    });
    rd5.addEventListener('click', () => {
        recharge.innerHTML = rd5lb.outerHTML;
        payokbtn.disabled = false;
    });
    rd6.addEventListener('click', () => {
        recharge.innerHTML = rd6lb.outerHTML;
        payokbtn.disabled = false;
    });

    payokbtn.addEventListener('click', () => {
        const name = document.querySelector('#name')
        const rrn = document.querySelector('#rrn')
        const phone = document.querySelector('#phone')

        if (name.value == '') {
            alert('이름을 입력하세요');
        } else if (rrn.value == '') {
            alert('주민번호를 입력하세요.');
        } else if (phone.value == '') {
            alert('전화번호를 입력하세요.');
        }
        else {
            document.recfrm.submit();
        }
    });
</script>
{% endblock %}