{% extends 'project.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block style %}
    <style>
        #wrapper { display:flex;}
        #wrapper a {font-size: 25px; font-weight: bold; text-decoration: none;
        color: white;  }
        #wrapper a:hover{color:orangered}
        header {background-image:url('/static/img/background.jpg'); height:140px; width: 100%  }


        a:link {color: black; text-decoration:none}
        a:visited{color: black; text-decoration:underline}
        a:hover {color: orangered; text-decoration:none}
        a:active {color: orangered; text-decoration:none }

        #logo {width: 515px; height:115px; float:left; margin-top:15px }
        #gamestart { list-style:none; margin-left:320px; margin-top: 10px}
        #gamestart img { width:250px; height: 120px;   }
        #qmenu { word-spacing:30px; display:flex; float:right; margin-left:540px; margin-top: 15px}

        nav { width:100%; background: silver; padding: 5px 15px; clear: both; display:inline-block}

        nav ul { word-spacing:500px;  font-weight:bold; text-align: center; list-style: none; font-size: 25px; padding:3px;
                margin-right:50px; margin-top: 10px }
        nav li {  display: flex; align-items: center; flex-wrap: wrap; text-align: center}
        nav a{ font-size:45px}
    </style>
{% endblock %}

{% block content %}
    <div id="main">
        <h1 class="d">결재오류 : 회원정보와 일치하지 않습니다.</h1>
    </div>
{% endblock %}

{% block jscript %}
    <script>
        window.addEventListener("load", () => {
            alert('')
        });
    </script>
{% endblock %}