{% extends 'project.html' %}
{% block style %}
    <style>
        #wrapper { display:flex;}
        #wrapper a {font-size: 23px; font-weight: bold; text-decoration: none;
        color: white;  }
        #wrapper a:hover{color:orangered}
        header {background-image:url('/static/img/background.jpg'); height:140px; width: 100%  }


        a:link {color: black; text-decoration:none}
        a:visited{color: black; text-decoration:underline}
        a:hover {color: orangered; text-decoration:none}
        a:active {color: orangered; text-decoration:none }

        #logo {width: 515px; height:115px; float:left; margin-top:15px }
        #gamestart { list-style:none; margin-left:300px; margin-top: 10px}
        #gamestart img { width:250px; height: 120px;   }
        #qmenu { word-spacing:35px; display:flex; float:right; margin-left:530px; margin-top: 15px}

        nav { width:100%; background: silver; padding: 5px 15px; clear: both; display:inline-block}

        nav ul { word-spacing:500px;  font-weight:bold; text-align: center; list-style: none; font-size: 25px; padding:3px;
                margin-right:60px; margin-top: 10px }
        nav li { display: flex; align-items: center; flex-wrap: wrap; text-align: center}
        nav a{ font-size:45px}
        #main_menu{
            position: relative; left:200px;
            width:1500px;
            height:840px;
            background-color: black;
            color: white;
            font-size: 30px;
            text-align: center;
        }
        .mainui {
            position:absolute; z-index: 1;
            font-size:30px; width:100px;
            text-align: center;
            padding:5px;
            right:20px; bottom:30px;
        }

        .button{font-size:20px;
            padding:5px;width:100px;
            margin:10px;
        }
        #menu{position:absolute;
            top:200px; left:15px;
        }
        #resources{
            position:absolute; z-index: 1;
            color:black; top:50px; left:20px;
            font-size:30px; background-color:bisque;
            padding:10px; width:1200px;
            text-align: left;
            font-weight: bold;
        }

        #next{
            position:absolute; z-index:1;
            right:20px; bottom:30px;
            background: black
        }
        #next a{color:white; text-decoration: none}
        #next a:hover{color:orange}

        #turn{
            position:absolute; z-index: 1;
            font-size:30px; background-color:bisque;
            color:black; bottom:50px; left:30px;
            padding:10px; font-weight: bold;
        }
        #chrstat {
            position: absolute;
            z-index: 1;
            font-size: 30px;
            background-color: bisque;
            color: black;
            top:23.3%;
            bottom: 296px;
            left: 530px;
            padding: 20px;
            height:53%;
            font-weight: bold;
        }
        #portrait{
            position:absolute; z-index: 1;
            right:350px; top:195px
        }


    </style>
{% endblock %}
{% block content %}
{#    <audio src="/static/resources/music/oriental peace.ogg" autoplay="autoplay" loop="loop"></audio>#}
    <div id="main_menu">
    <form id="innerfrm" name="innerfrm" method="post">
        <img src="/static/resources/img/background/background2.jpg" width="1500" height="840" alt>
        {% csrf_token %}
        <div id="resources">
            금 : <span id="gold"> {{ request.session.gold }} </span>/
            병량 : <span id="food"> {{ request.session.food }} </span>/
            병사 : <span id="army"> {{ request.session.army }} </span>/
            부장 : <span id="officer"> {{ request.session.officer }} </span>/
            직급 : <span id="general"> {{ request.session.status }} </span><br>
            아이템 : <span id="item">{{ request.session.itemfullname }} </span>
        </div>
        <div id="menu">
            <div>
                <button id="btn1" type="button" class="button" disabled>세금징수</button>
            </div>
            <div>
                <button id="btn2" type="button" class="button" disabled>병량징수</button>
            </div>
            <div>
                <button id="btn3" type="button" class="button" disabled>병사모집</button>
            </div>
            <div>
                <button id="btn4" type="button" class="button" disabled>인재모집</button>
            </div>
            <div>
                <button id="btn5" type="button" class="button" disabled>수집</button>
            </div>
            <div>
                <button id="btn7" type="button" class="button" disabled>돈->병량</button>
            </div>
            <div>
                <button id="btn8" type="button" class="button" disabled>병량->돈</button>
            </div>
        </div>
        <div id="chrstat">
            플레이어 정보<br>
            통솔 : <span id="stat1">{{ request.session.command }}</span><br>
            무력 : <span id="stat2">{{ request.session.power }}</span><br>
            지력 : <span id="stat3">{{ request.session.inteli }}</span><br>
            정치 : <span id="stat4">{{ request.session.politics }}</span><br>
            내정특기 : <span id="trait1">{{ request.session.innertrait }}</span><br>
            전투특기 : <span id="trait2">{{ request.session.fighttrait }}</span><br>
            스킬 : <span id="trait3">{{ request.session.skill }}</span><br>
            hp : <span id="hp">{{ request.session.hp }}</span>
            <input type="hidden" id="command" name="command" value="{{ request.session.command }}">
            <input type="hidden" id="power" name="power" value="{{ request.session.power }}">
            <input type="hidden" id="inteli" name="inteli" value="{{ request.session.inteli }}">
            <input type="hidden" id="politics" name="politics" value="{{ request.session.politics }}">
            <input type="hidden" id="innertrait" name="innertrait" value="{{ request.session.innertrait }}">
            <input type="hidden" id="fighttrait" name="fighttrait" value="{{ request.session.fighttrait }}">
            <input type="hidden" id="skill" name="skill" value="{{ request.session.skill }}">
        </div>
        <div id="portrait">
            <img src="{{ request.session.portrait }}">
        </div>
        <div id="turn">
            <span id="turnNumber"></span> 턴종료
        </div>
        <div id="next" class="mainui">
            <a href="/story3">다음</a>
        </div>
    </form>
    </div>
    <script>
        history.pushState(null, null, location.href)
        window.onpopstate = function(event){
            alert('뒤로 갈 수 없습니다.')
            history.go(1)
        }
        function noEvent(event) {
    if (event.keyCode == 116) {
        alert('새로고침을 할 수 없습니다.')
        event.keyCode = 2
        return false
    } else if (event.ctrlKey
        && (event.keyCode == 78 || event.keyCode == 82)) {
        alert('새로고침을 할 수 없습니다.')
        return false
    }}
    document.onkeydown = noEvent;
    </script>
{% endblock %}