{% extends 'project.html' %}

{% block title %}스토리 선택형 삼국지 TCG{% endblock %}
{% load static %}
{% block style %}
    <style>
        a {
            text-decoration: none;
            color: brown;
        }

        a:hover {
            color: red;
        }

        #gamename {
            color: rgb(46, 11, 129);
            font-size: 30px;
            font-weight: bold;
            position: absolute;
            z-index: 1;
            text-align: center;
            top: 80px;
            left: 65px;
        }

        #gameplay {
            font-size: 100px;
            position: absolute;
            z-index: 1;
            text-align: center;
            bottom: 150px;
            left: 450px;
        }

        #gamedescription {
            color: white;
            font-size: 40px;
            position: absolute;
            z-index: 1;
            text-align: center;
            top: 350px;
            left: 580px;
        }

        #quit {
            color: white;
            font-size: 40px;
            position: absolute;
            z-index: 1;
            text-align: center;
            top: 450px;
            left: 630px;
        }

        .cardfield {
            border: 3px solid rgb(68, 67, 67);
            width: 80px;
            height: 116px;
        }

        #field1 {
            position: absolute;
            z-index: 1;
            left: 300px;
            top: 200px;
        }

        #field2 {
            position: absolute;
            z-index: 1;
            left: 500px;
            top: 200px;
        }

        #field3 {
            position: absolute;
            z-index: 1;
            left: 700px;
            top: 200px;
        }

        #field4 {
            position: absolute;
            z-index: 1;
            left: 900px;
            top: 200px;
        }

        #field5 {
            position: absolute;
            z-index: 1;
            left: 400px;
            top: 50px;
        }

        #field6 {
            position: absolute;
            z-index: 1;
            left: 600px;
            top: 50px;
        }

        #field7 {
            position: absolute;
            z-index: 1;
            left: 800px;
            top: 50px;
        }

        #field8 {
            position: absolute;
            z-index: 1;
            left: 300px;
            top: 380px;
        }

        #field9 {
            position: absolute;
            z-index: 1;
            left: 500px;
            top: 380px;
        }

        #field10 {
            position: absolute;
            z-index: 1;
            left: 700px;
            top: 380px;
        }

        #field11 {
            position: absolute;
            z-index: 1;
            left: 900px;
            top: 380px;
        }

        #field12 {
            position: absolute;
            z-index: 1;
            left: 400px;
            top: 530px;
        }

        #field13 {
            position: absolute;
            z-index: 1;
            left: 600px;
            top: 530px;
        }

        #field14 {
            position: absolute;
            z-index: 1;
            left: 800px;
            top: 530px;
        }

        #field15 {
            position: absolute;
            z-index: 1;
            left: 150px;
            top: 200px;
        }

        #field16 {
            position: absolute;
            z-index: 1;
            left: 1060px;
            top: 380px;
        }

        #playerstatus {
            border: 3px solid black;
            width: 350px;
            height: 200px;
            position: absolute;
            z-index: 1;
            bottom: 5px;
            font-size: 30px;
            background-color: rgb(86, 94, 19);
            color: white;
        }

        #enemystatus {
            border: 3px solid black;
            width: 350px;
            height: 200px;
            position: absolute;
            z-index: 1;
            right: 0px;
            top: 0px;
            font-size: 30px;
            background-color: rgb(86, 94, 19);
            color: white
        }

        #menu {
            /* border: 1px solid black; */
            position: absolute;
            z-index: 1;
            right: 50px;
            bottom: 250px;
        }

        .button {
            font-size: 20px;
            padding: 5px;
            margin: 5px;
            width: 100px;
        }

        #playercard {
            position: absolute;
            z-index: 1;
            /* border: 1px solid black; */
            bottom: 15px;
            left: 500px;
        }

        #enemycard {
            position: absolute;
            z-index: 1;
            top: 15px;
            left: 5px;
        }

        #cardbtn, #cardbtn2, #normallocation, #magiclocation {
            position: absolute;
            z-index: 1;
            border: 1px solid black;
            left: 500px;
            top: 350px;
            background-color: darkgrey;
            display: none;
        }

        #card_check {
            position: absolute;
            z-index: 1;
            border: 1px solid black;
            left: 500px;
            top: 350px;
            background-color: darkgrey;
        {#display: none;#}
        }


    </style>
{% endblock %}
{% block content %}
    <div id="main_menu" style="position:absolute; z-index:0">
        <img src="{% static 'resources/img/background/background3.jpg' %}" width="1500" height="840" alt>
        <div id="cardfield1">
            <div id="field1" class="cardfield"></div>
            <div id="field2" class="cardfield"></div>
            <div id="field3" class="cardfield"></div>
            <div id="field4" class="cardfield"></div>
            <div id="field5" class="cardfield"></div>
            <div id="field6" class="cardfield"></div>
            <div id="field7" class="cardfield"></div>
            <div id="field15" class="cardfield"></div>
        </div>
        <div id="cardfield2">
            <div id="field8" class="cardfield"></div>
            <div id="field9" class="cardfield"></div>
            <div id="field10" class="cardfield"></div>
            <div id="field11" class="cardfield"></div>
            <div id="field12" class="cardfield"></div>
            <div id="field13" class="cardfield"></div>
            <div id="field14" class="cardfield"></div>
            <div id="field16" class="cardfield"></div>
        </div>
        <div id="playerstatus">
            <div style="margin-top:10px; margin-left:10px">플레이어</div>
            <div style="margin-left:10px">체력 : <span id="playerhp"></span> 전술 : <span id="player전술"></span></div>
            <div style="margin-left:10px">통솔 : <span id="player통솔"></span> 지력: <span id="player지력"></span></div>
            <div style="margin-left:10px">무력 : <span id="player무력"></span> 정치: <span id="player정치"></span></div>
        </div>
        <div id="enemystatus">
            <div style="margin-top:10px; margin-left:10px">적군</div>
            <div style="margin-left:10px">체력 : <span id="enemyhp"></span> 전술 : <span id="enemy전술"></span></div>
            <div style="margin-left:10px">통솔 : <span id="enemy통솔"></span> 지력: <span id="enemy지력"></span></div>
            <div style="margin-left:10px">무력 : <span id="enemy무력"></span> 정치: <span id="enemy정치"></span></div>
        </div>
        <div id="menu">
            <button id="endturn" type="button" class="button">턴 종료</button>
            <br>
            <button id="draw" type="button" class="button">드로우</button>
            <br>
            <button id="grave" type="button" class="button">무덤효과</button>
            <br>
            <button id="fight" type="button" class="button">전투</button>
            <br>
            <button id="skill" type="button" class="button">전술스킬</button>
            <br>
        </div>
        <div id="playercard"></div>
        <div id="enemycard"></div>
        {#        <div id="card_check">#}
        {#            <button id="attackbtn" type="button" class="button">공격#}
        {#            <div class="cardfield"></div></button>#}
        {#            <button id="defencebtn" type="button" class="button">방어#}
        {#            <div class="cardfield"></div></button>#}
        {#            <button id="frontbtn" type="button" class="button">앞면#}
        {#            <div class="cardfield"></div></button>#}
        {#            <button id="backbtn" type="button" class="button">뒷면#}
        {#            <div class="cardfield"></div></button>#}
        {#        </div>#}
        <div id="cardbtn">
            <button id="attackbtn" type="button" class="button">공격</button>
            <button id="defencebtn" type="button" class="button">방어</button>
        </div>
        <div id="cardbtn2">
            <button id="frontbtn" type="button" class="button">앞면</button>
            <button id="backbtn" type="button" class="button">뒷면</button>
        </div>
        <div id="normallocation">
            <button id="loc1" type="button" class="button">1</button>
            <button id="loc2" type="button" class="button">2</button>
            <button id="loc3" type="button" class="button">3</button>
            <button id="loc4" type="button" class="button">4</button>
        </div>
        <div id="magiclocation">
            <button id="loc5" type="button" class="button">1</button>
            <button id="loc6" type="button" class="button">2</button>
            <button id="loc7" type="button" class="button">3</button>
        </div>
    </div>
{% endblock %}

{% block jscript %}

    <script>
        let hp1 = 100
        let hp2 = 100
        playerhp.textContent = hp1
        enemyhp.textContent = hp2

        endturn.disabled = true
        skill.disabled = true

        let card_list = [
            '{% static "/resources/img/card/resize/back.png" %}',
            '{% static "/resources/img/card/resize/2_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/2_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/2_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/2_of_spades.png" %}',
            '{% static "/resources/img/card/resize/3_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/3_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/3_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/3_of_spades.png" %}',
            '{% static "/resources/img/card/resize/4_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/4_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/4_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/4_of_spades.png" %}',
            '{% static "/resources/img/card/resize/5_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/5_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/5_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/5_of_spades.png" %}',
            '{% static "/resources/img/card/resize/6_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/6_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/6_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/6_of_spades.png" %}',
            '{% static "/resources/img/card/resize/7_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/7_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/7_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/7_of_spades.png" %}',
            '{% static "/resources/img/card/resize/8_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/8_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/8_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/8_of_spades.png" %}',
            '{% static "/resources/img/card/resize/9_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/9_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/9_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/9_of_spades.png" %}',
            '{% static "/resources/img/card/resize/10_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/10_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/10_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/10_of_spades.png" %}',
            '{% static "/resources/img/card/resize/ace_of_clubs.png" %}',
            '{% static "/resources/img/card/resize/ace_of_diamonds.png" %}',
            '{% static "/resources/img/card/resize/ace_of_hearts.png" %}',
            '{% static "/resources/img/card/resize/ace_of_spades.png" %}',
            '{% static "/resources/img/card/resize/jack_of_clubs2.png" %}',
            '{% static "/resources/img/card/resize/jack_of_diamonds2.png" %}',
            '{% static "/resources/img/card/resize/jack_of_hearts2.png" %}',
            '{% static "/resources/img/card/resize/jack_of_spades2.png" %}',
            '{% static "/resources/img/card/resize/king_of_clubs2.png" %}',
            '{% static "/resources/img/card/resize/king_of_diamonds2.png" %}',
            '{% static "/resources/img/card/resize/king_of_hearts2.png" %}',
            '{% static "/resources/img/card/resize/king_of_spades2.png" %}',
            '{% static "/resources/img/card/resize/queen_of_clubs2.png" %}',
            '{% static "/resources/img/card/resize/queen_of_diamonds2.png" %}',
            '{% static "/resources/img/card/resize/queen_of_hearts2.png" %}',
            '{% static "/resources/img/card/resize/queen_of_spades2.png" %}',
            '{% static "/resources/img/card/resize/black_joker.png" %}',
            '{% static "/resources/img/card/resize/red_joker.png" %}']


        let Acardback = '{% static "/resources/img/card/resize/back.png" %}'


        function shuffle(array) {
            array.sort(() => Math.random() - 0.5)
        }

        // 배열 초기화 함수
        let clear_field = (array) => {
            while (array.hasChildNodes()) {
                array.removeChild(array.firstChild);
            }
        }


        // 플레이어 덱 만들기
        let main_deck = [];
        let player_deck = [];
        let enemy_deck = [];

        // 플레이어 손패 만들기
        let player_hand = [];
        let enemy_hand = [];

        for (let i = 1; i <= 54; ++i) {
            main_deck.push(i);
        }
        shuffle(main_deck);

        // 카드 드로우 함수
        let draw_card = (hand, deck) => {
            hand.push(deck[0]);
            deck.shift();
        };

        // 절반씩 덱 생성
        for (let i = 0; i < 27; ++i) {
            draw_card(player_deck, main_deck)
        }
        for (let i = 0; i < 27; ++i) {
            draw_card(enemy_deck, main_deck)
        }

        // 메인 필드
        let main_field = {}


        playercard = document.getElementById('playercard');
        enemycard = document.getElementById('enemycard');


        let magic_card = 0
        let cardid = 0
        let isattack = 1000
        let isfront = 100

        let enemy_turn = () => {
            console.log('enemy_turn start');
            console.log(enemy_hand);
            if (!enemy_hand[0]) {
                // 손이 텅 비었으면 무조건 드로우
                console.log('enemy_hand is empty');
                enemy_draw();
            } else if (!main_field['field1'] && !main_field['field2'] && !main_field['field3'] && !main_field['field4']) {
                // 일반 필드가 텅 비었으면 무조건 배치
                console.log("enemy's normal field is empty");
                if (ismagic(enemy_hand[0])) enemy_choose_card_magic(enemy_hand[0]);
                else enemy_choose_card_normal(enemy_hand[0]);
            } else {
                console.log("enemy do something");
                switch (Math.floor(Math.random() * 2)) {
                    case 0:
                        enemy_draw();
                        break;
                    case 1:
                        if (ismagic(enemy_hand[0])) enemy_choose_card_magic(enemy_hand[0]);
                        else enemy_choose_card_normal(enemy_hand[0]);
                        break;
                    case 3:
                        enemy_attack_card();
                        break;
                }
            }

        }


        let rnd = () => {
            return Math.floor(Math.random() * 2) === 1;
        };

        // 상대편 드로우
        let enemy_draw = () => {
            console.log("enemy_draw");
            draw_card(enemy_hand, enemy_deck);
            let a = document.createElement('img');
            a.src = card_list[0];
            enemycard.appendChild(a);
        };
        // 노말카드 배치용
        let enemy_choose_card_normal = (cardid) => {
            console.log("enemy_choose_card_normal");
            let field = enemy_choose_field(cardid);
            let isattack = 1000;
            let isfront = 100;
            if (rnd()) isattack = 0;
            if (rnd()) isfront = 0;
            let card_info = +isattack + isfront + cardid;
            enemycard.removeChild(enemycard.lastElementChild);
            enemy_set_card(card_info, field);
        }
        let enemy_choose_card_magic = (cardid) => {
            console.log("enemy_choose_card_magic");
            let field = enemy_choose_field(cardid);
            let magic_card = 10000;
            let isattack = 1000;
            let isfront = 100;
            let card_info = magic_card + isattack + isfront + cardid;
            enemycard.removeChild(enemycard.lastElementChild);
            enemy_set_card(card_info, field);
        }

        // 카드 놓을 장소 고르기 (무작위)
        let enemy_choose_field = (cardid) => {
            console.log(`enemy_choose_field`);
            let field = [];
            if (!ismagic(cardid)) {
                if (!main_field['field1']) field.push(1);
                if (!main_field['field2']) field.push(2);
                if (!main_field['field3']) field.push(3);
                if (!main_field['field4']) field.push(4);
            } else {
                if (!main_field['field5']) field.push(5);
                if (!main_field['field6']) field.push(6);
                if (!main_field['field7']) field.push(7);
            }
            if (!field[0]) return 'full'
            else return field[Math.floor(Math.random() * field.length)];
        };
        // 카드정보와 필드정보를 받아 메인필드에 삽입
        let enemy_set_card = (card, field) => {
            console.log(`enemy_set_card, card: ${card}, field: ${field}`);
            switch (field) {
                case 1:
                    main_field['field1'] = card;
                    break;
                case 2:
                    main_field['field2'] = card;
                    break;
                case 3:
                    main_field['field3'] = card;
                    break;
                case 4:
                    main_field['field4'] = card;
                    break;
                case 5:
                    main_field['field5'] = card;
                    break;
                case 6:
                    main_field['field6'] = card;
                    break;
                case 7:
                    main_field['field7'] = card;
                    break;
            }
            enemy_hand.shift();
            card_location();
        };


        let enemy_attack_card = () => {
            alert('공격!');
        };


        // 카드 배치 함수
        // (배치구역, 카드번호)
        let set_card = (place, cardid3) => {
            console.log(`set_card: ${cardid3}`);

            let a = document.createElement('img');
            a.src = card_list[cardid3];
            eval(place).appendChild(a);
        };
        let set_card_rotate = (place, cardid3) => {
            console.log(`set_card_rotate: ${cardid3}`);

            let a = document.createElement('img');
            a.src = card_list[cardid3];
            a.style.transform = 'rotate(90deg)';
            eval(place).appendChild(a);
        };


        // 손에 카드 넣기
        // checkhand(손, 장소)
        let checkhand = (hand, place) => {
            while (place.hasChildNodes()) {
                place.removeChild(place.firstChild);
            }

            for (let i = 0; i < hand.length; ++i) {
                let a = document.createElement('img')
                a.id = `${i}_${hand[i]}`;
                a.className = 'card_in_hand';
                a.src = card_list[hand[i]];

                handf = () => {
                    console.log(`handf with ${i}, ${hand[i]}`);
                    active01(i, hand[i]);
                };
                a.addEventListener('click', handf);
                place.appendChild(a)
            }
        };


        //첫 턴 자동 함수
        let first_turn = () => {
            // 처음 4장씩 드로우
            for (let i = 0; i < 4; ++i) {
                draw_card(player_hand, player_deck);
            }
            checkhand(player_hand, playercard);
        };

        first_turn();

        // 드로우 버튼 작용
        let draw = document.getElementById('draw');
        draw.addEventListener("click", () => {
            draw_card(player_hand, player_deck);
            checkhand(player_hand, playercard);
            enemy_turn();
        });


        // 마법카드 판단 함수
        let ismagic = (cardid3) => {
            return cardid3 >= 41 && cardid3 <= 52;
        };


        // 필드에 카드 넣기
        // 상대 턴 진행
        const loc1f = () => {
            normallocation.style.display = 'none';
            main_field['field8'] = magic_card + isattack + isfront + cardid;
            card_location();
            enemy_turn();
        };
        const loc2f = () => {
            normallocation.style.display = 'none';
            main_field['field9'] = magic_card + isattack + isfront + cardid;
            card_location();
            enemy_turn();
        };
        const loc3f = () => {
            normallocation.style.display = 'none';
            main_field['field10'] = magic_card + isattack + isfront + cardid;
            card_location();
            enemy_turn();
        };
        const loc4f = () => {
            normallocation.style.display = 'none';
            main_field['field11'] = magic_card + isattack + isfront + cardid;
            card_location();
            enemy_turn();
        };
        const loc5f = () => {
            magiclocation.style.display = 'none';
            main_field['field12'] = magic_card + isattack + isfront + cardid;
            card_location();
            enemy_turn();
        };
        const loc6f = () => {
            magiclocation.style.display = 'none';
            main_field['field13'] = magic_card + isattack + isfront + cardid;
            card_location();
            enemy_turn();
        };
        const loc7f = () => {
            magiclocation.style.display = 'none';
            main_field['field14'] = magic_card + isattack + isfront + cardid;
            card_location();
            enemy_turn();
        };


        // 앞뒤판단 - 공격방향
        const attackf = () => {
            console.log(`in attackf = cardid: ${cardid}, magic_card: ${magic_card}`)
            attackbtn.removeChild(attackbtn.lastElementChild);
            defencebtn.removeChild(defencebtn.lastElementChild);
            cardbtn.style.display = 'none';
            cardbtn2.style.display = 'block';
            set_card(frontbtn, cardid);
            set_card(backbtn, 0);
        };
        // 앞뒤판단 - 수비방향
        const defencef = () => {
            isattack = 0
            attackbtn.removeChild(attackbtn.lastElementChild);
            defencebtn.removeChild(defencebtn.lastElementChild);
            cardbtn.style.display = 'none';
            cardbtn2.style.display = 'block';
            set_card_rotate(frontbtn, cardid);
            set_card_rotate(backbtn, 0);
        };
        // 앞방향 배치지정
        const frontf = () => {
            frontbtn.removeChild(frontbtn.lastElementChild);
            backbtn.removeChild(backbtn.lastElementChild);
            cardbtn2.style.display = 'none';
            normallocation.style.display = 'block';

        };
        // 뒷방향 배치지정
        const backf = () => {
            isfront = 0
            frontbtn.removeChild(frontbtn.lastElementChild);
            backbtn.removeChild(backbtn.lastElementChild);
            cardbtn2.style.display = 'none';
            normallocation.style.display = 'block';
        };
        // 손 안의 카드의 위치와 카드의 변수값을 받아 실행되는 함수
        let active01 = (handid, cardid3) => {
            cardid = cardid3;
            magic_card = 0
            isattack = 1000
            isfront = 100
            console.log(`receive active01: ${handid}, ${cardid}`);
            // 마법카드 여부 확인
            if (ismagic(cardid)) magic_card = 10000;


            player_hand.splice(handid, 1); // 뽑은 카드 손에서 지우기
            checkhand(player_hand, playercard);
            playercard.style.pointerEvents = 'none';
            // 공수여부 판단
            if (magic_card === 10000) {
                magiclocation.style.display = 'block';
            } else {
                cardbtn.style.display = 'block';
                set_card(attackbtn, cardid);
                set_card_rotate(defencebtn, cardid);
            }


            attackbtn.addEventListener("click", attackf);
            defencebtn.addEventListener("click", defencef);
            frontbtn.addEventListener('click', frontf);
            backbtn.addEventListener('click', backf);
            loc1.addEventListener('click', loc1f);
            loc2.addEventListener('click', loc2f);
            loc3.addEventListener('click', loc3f);
            loc4.addEventListener('click', loc4f);
            loc5.addEventListener('click', loc5f);
            loc6.addEventListener('click', loc6f);
            loc7.addEventListener('click', loc7f);
            if (main_field['field8']) loc1.style.display = 'none';
            if (main_field['field9']) loc2.style.display = 'none';
            if (main_field['field10']) loc3.style.display = 'none';
            if (main_field['field11']) loc4.style.display = 'none';
            if (main_field['field12']) loc5.style.display = 'none';
            if (main_field['field13']) loc6.style.display = 'none';
            if (main_field['field14']) loc7.style.display = 'none';
        };
        // 최종 배치 함수
        // loc1 = 11150 === 1번 자리에 있는 마법카드, 공격배치, 앞면인 50번 카드
        // EventListener, 필드 전역 일괄 청소 후 카드 배치 실행
        // main_field에서 모든 필드의 카드 정보를 받아 배치
        // 가장 일 많이 하는 녀석
        let card_location = () => {
            console.log('card_location');
            console.log(main_field);
            playercard.style.pointerEvents = 'auto';
            defencebtn.removeEventListener("click", attackf);
            defencebtn.removeEventListener("click", defencef);
            frontbtn.removeEventListener('click', frontf);
            backbtn.removeEventListener('click', backf);
            loc1.removeEventListener('click', loc1f);
            loc2.removeEventListener('click', loc2f);
            loc3.removeEventListener('click', loc3f);
            loc4.removeEventListener('click', loc4f);
            loc5.removeEventListener('click', loc5f);
            loc6.removeEventListener('click', loc6f);
            loc7.removeEventListener('click', loc7f);
            clear_field(field1);
            clear_field(field2);
            clear_field(field3);
            clear_field(field4);
            clear_field(field5);
            clear_field(field6);
            clear_field(field7);
            clear_field(field8);
            clear_field(field9);
            clear_field(field10);
            clear_field(field11);
            clear_field(field12);
            clear_field(field13);
            clear_field(field14);
            for (let loc in main_field) {
                let card = main_field[loc];
                let card_info = card % 10000;
                let cardid = card_info % 100;
                switch ((card_info - cardid) / 100) {
                    case 0:
                        set_card_rotate(loc, 0)
                        break;
                    case 1:
                        set_card_rotate(loc, cardid)
                        break;
                    case 10:
                        set_card(loc, 0)
                        break;
                    case 11:
                        set_card(loc, cardid)
                        break;
                    default:
                        alert(`${loc}에 ${card_info}의 카드가 들어옴`);
                }


            }
        };

    </script>
{% endblock %}